.featured{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 15px -10px rgb(0,0,0,0.75); 
    box-shadow: 0px 0px 15px -10px rgb(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.featuredTitle{
    font-size: 22px;
}
.featuredContainer{
    display: flex;
    align-items: center;

}
.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}
.featuredRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
}
.featuredIcon{
    font-size: 12px;
    color: green;
    margin-left: 5px;
}
.featuredIcon.negative{
    color: red;
}
.featuredSub{
    color: gray;
    font-weight: 400;
}